@model ResistorColorCodeCalculator.Models.CalculatorViewModel

@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Resistor Calculator</title>
    @Styles.Render("~/Content/css")
</head>
<body>

    <div class="row">
        <div class="col-md-offset-1 col-md-4">
            <h1>4 Band Resistor Calculator</h1>
            <p>
                This is a tool used to calculate resistance for a 4-color band resistor.
                Select the band colors using the dropdown selection below.
                Click submit to determine the value and tolerance of the resistor.
            </p>
            <br />
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-1">
            <img src="https://www.tu-eshop.com/image/data/eshop-6-1.jpg" alt="4-Band Resistor" />
        </div>
    </div>

    @using (Html.BeginForm("Index", "Home", FormMethod.Post)) {
        <div class="row">
            <div class="col-md-offset-1 col-md-4">
                <div class="dropdown">
                    @Html.LabelFor(m => m.BandAColors, new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.SelectedBandAColor, new SelectList(Model.BandAColors), "--choose--")
                    @Html.ValidationMessageFor(m => m.SelectedBandAColor)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-4">
                <div class="dropdown">
                    @Html.LabelFor(m => m.BandBColors, new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.SelectedBandBColor, new SelectList(Model.BandBColors), "--choose--")
                    @Html.ValidationMessageFor(m => m.SelectedBandBColor)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-4">
                <div class="dropdown">
                    @Html.LabelFor(m => m.BandCColors, new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.SelectedBandCColor, new SelectList(Model.BandCColors), "--choose--")
                    @Html.ValidationMessageFor(m => m.SelectedBandCColor)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-4">
                <div class="dropdown">
                    @Html.LabelFor(m => m.BandDColors, new { @class = "control-label" })
                    @Html.DropDownListFor(m => m.SelectedBandDColor, new SelectList(Model.BandDColors), "--choose--")
                    @Html.ValidationMessageFor(m => m.SelectedBandDColor)
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-offset-1">
                <button type="submit">Submit</button>
            </div>
        </div>
        <br />

    }

    @if (Model.Result.HasValue || Model.Tolerance.HasValue) {

        <div class="row">
            <div class="col-md-offset-1 col-md-2">
                <div class="main-resistor" style="background-color: cornsilk; text-align: center; margin-left: auto; margin-right: auto; display: block; position: relative;">
                    <div class="band-color a" style="background-color: @Model.SelectedBandAColor; width: 25px; height: 60px; display: inline-block; z-index: -1;"></div>
                    <div style="width: 4px; height: 60px; display: inline-block; z-index: -1;"></div>
                    <div class="band-color b" style="background-color: @Model.SelectedBandBColor; width: 25px; height: 60px; display: inline-block; z-index: -1;"></div>
                    <div style="width: 4px; height: 60px; display: inline-block; z-index: -1;"></div>
                    <div class="band-color c" style="background-color: @Model.SelectedBandCColor; width: 25px; height: 60px; display: inline-block; z-index: -1;"></div>
                    <div style="width: 16px; height: 60px; display: inline-block; z-index: -1;"></div>
                    <div class="band-color d" style="background-color: @Model.SelectedBandDColor; width: 25px; height: 60px; display: inline-block; z-index: -1;"></div>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-offset-1">
                <p>The resistance is: <strong>@Model.Result ohms, ± @Model.Tolerance %</strong></p>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-offset-1 col-md-2">
                <p>Band A Color: <em>@Model.SelectedBandAColor</em></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-2">
                <p>Band B Color: <em>@Model.SelectedBandBColor</em></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-2">
                <p>Band C Color: <em>@Model.SelectedBandCColor</em></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-2">
                <p>Band D Color: <em>@Model.SelectedBandDColor</em></p>
            </div>
        </div>
    }

</body>
</html>
